@model CarRepairShop.Models.Car

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete Car @Model.CarRegistration?</h3>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <label>Car registation: </label>
            @Html.DisplayFor(model => model.CarId)
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Brand: </label>
            @Html.DisplayFor(model => model.CarBrand)
        </div>
        <div class="col-3">
            <label>Model: </label>
            @Html.DisplayFor(model => model.CarModel)
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col">
            <label>Year of manifacture: </label>
            @Html.DisplayFor(model => model.YearOfManifacture)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>EngineNum: </label>
            @Html.DisplayFor(model => model.EngineNum)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>FrameNum: </label>
            @Html.DisplayFor(model => model.FrameNum)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Color: </label>
            @Html.DisplayFor(model => model.Color)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>WorkingVolume: </label>
            @Html.DisplayFor(model => model.WorkingVolume)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Description: </label>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Owner's name: </label>
            @Html.DisplayFor(model => model.Owner)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Owner phone num: </label>
            @Html.DisplayFor(model => model.OwnerPhoneNum)
        </div>
    </div>
</div>
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="CarId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-info">Back to all cars</a>
</form>
