@model CarRepairShop.Models.Part

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete part @Model.PartName?</h3>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <label>Name: </label>
            @Html.DisplayFor(model => model.PartName)
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Quantity: </label>
            @Html.DisplayFor(model => model.Quantity)
        </div>
        <div class="col-3">
            <label>Price: </label>
            @Html.DisplayFor(model => model.Price) lv
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col">
            <label>Working hours: </label>
            @Html.DisplayFor(model => model.WorkingHours)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Type of repair: </label>
            @Html.DisplayFor(model => model.TypeOfRepair)
        </div>
    </div>
</div>
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="PartId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-info">Back to all parts</a>
</form>