@model IEnumerable<CarRepairShop.Models.Part>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add new part</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PartName
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Working hours
            </th>
            <th>
                Type of repair
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)lv
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfRepair)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PartId" class="btn btn-warning">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.PartId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
