@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@using CarRepairShop.Controllers;
@model RepairCardVM;

@{
    ViewData["Title"] = "Create";
}

<h3>Creating new repair card</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.RepairCardId)
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select" asp-items="Model.CarRegistrations" asp-for="SelectedCarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Model.TypeOfRepair
            </div>
            @*<div class="form-group">
                @foreach (var part in Model.partVMs)
                {
                    <input type="checkbox" asp-for="@Model.[part.PartId].IsSelected" />
                    <label class="form-check-label" asp-for="@Model.[part.PartId].IsSelected">@Model.[part.PartId].PartName</label>
                    <input type="hidden" asp-for="@Model.[part.PartId].PartId" />
                    <input type="hidden" asp-for="@Model.[part.PartId].PartName" />
                    <br />
                }
            </div>*@
            <div class="form-group">
                <select class="form-select" asp-items="Model.Parts" asp-for="SelectedPartId" multiple></select>
            </div>
            <div class="form-group">
                <select class="form-select" asp-items="Model.Mechanics" asp-for="SelectedMechanicId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to all repair cards.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
