@model CarRepairShop.Models.RepairCard

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this repair card?</h3>
<div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <label>Repair card: </label>
                @Html.DisplayFor(model => model.RepairCardId)
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label>Start date: </label>
                @Html.DisplayFor(model => model.StartDate)
            </div>
            <div class="col-3">
                <label>End date: </label>
                @Html.DisplayFor(model => model.EndDate)
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col">
                <label>Car registation: </label>
                @Html.DisplayFor(model => model.Car.CarRegistration)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Description: </label>
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Price: </label>
                @Html.DisplayFor(model => model.Price)
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Type of repair: </label>
                @Html.DisplayFor(model => model.TypeOfRepair)
            </div>
        </div>
        <div class="row">
            <div class="col">
                @foreach (Part part in Model.Parts)
                {
                    <ul>
                        <li>@part.PartName</li>
                    </ul>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Mechanic: </label>
                @Html.DisplayFor(model => model.Mechanic.Id)
            </div>
        </div>
    </div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="RepairCardId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Back to all repair cards</a>
    </form>
</div>
