@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model FilteringVM;

<head>
@{
    ViewData["Title"] = "Filtering";
}

</head>

<h3>Filtering</h3>

<br/>
<form id="filterForm" class="card" asp-action="Filtering">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Criteria">Choose criteria</label>
                    <select asp-for="Criteria" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(Criteria))">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="TypeOfRepair">Choose start or end date</label>
                    <select asp-for="TypeOfRepair" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(TypeOfRepairs))">
                    </select>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="StartEndDate">Choose start or end date</label>
                    <select asp-for="StartEndDate" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(StartEndDate))">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Choose date</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Choose car registration</label>
                    <select class="form-select" asp-items="Model.CarRegistrations" asp-for="SelectedCarId">
                        <option value="0" selected>All cars</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Choose mechanic</label>
                    <select class="form-select" asp-items="Model.Mechanics" asp-for="SelectedMechanicId">
                        <option value="0" selected>All mechanics</option>
                    </select>
                </div>
            </div>
            <div class="col-9"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-2">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
            <div class="col-3">
                <input type="button" value="Clear filters" class="btn btn-primary" onclick="clearFilters()" />
            </div>
            <div class="col-10"></div>
        </div>
    </div>
    <br />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Car Registration</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type Of Repair</th>
            <th>Part Names</th>
            <th>Mechanic Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RepairCardIndexVM item in Model.RepairCardIndexVM)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)lv
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfRepair)
                </td>
                <td>
                    @foreach (Part part in item.Parts)
                    {
                        <ul>
                            <li>@part.PartName</li>
                        </ul>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MechanicFirstName)  @Html.DisplayFor(modelItem => item.MechanicLastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RepairCardId" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
