@model IEnumerable<CarRepairShop.Models.RepairCard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.CarRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfRepair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mechanic.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfRepair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parts.Select(p=>p.PartName))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mechanic.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RepairCardId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.RepairCardId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
