@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model FilteringVM;

@{
    ViewData["Title"] = "RepairCards";
}

<h1>All repair cards</h1>

<p>
    <a asp-action="SelectRepair" class="btn btn-success">Create new repair card</a>
    <a asp-action="References" class="btn btn-success">Create reference</a>
</p>

<br/>

<table class="table">
    <thead>
        <tr>
            <th>Car Registration</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type Of Repair</th>
            <th>Part Names</th>
            <th>Mechanic Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RepairCardIndexVM item in Model.RepairCardIndexVM)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)lv
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfRepair)
                </td>
                <td>
                    @foreach (Part part in item.Parts)
                    {
                        <ul>
                            <li>@part.PartName</li>
                        </ul>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MechanicFirstName)  @Html.DisplayFor(modelItem => item.MechanicLastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RepairCardId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.RepairCardId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*@section Scripts{
    <script>

        $(function () {
            $("#criteria").change(function () {
                $.ajax({
                    type: "Get",
                    url: "/RepairCards/References?type=" + $(this).val(),  //remember change the controller to your owns.
                    success: function (data) {
                        $("#container").html("");
                        $("#container").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        });
    </script>
}*@